img {
    display: inline-block;
    width: auto;
    height: auto;
    max-width: 100%;
    @include include-element-margin($img-margin-top, $img-margin-bottom, $img-margin-left, $img-margin-right, $img-margin-for-screens);
    border: 0;
    padding: 0;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}

figcaption,
figure {
    display: block;
    margin: 0;
    border: 0;
    padding: 0;
}

figcaption {
    @include include-element-margin($figure-caption-margin-top, $figure-caption-margin-bottom, $figure-caption-margin-left, $figure-caption-margin-right, $figure-caption-margin-for-screens);
}

figure {
    @include include-element-margin($figure-margin-top, $figure-margin-bottom, $figure-margin-left, $figure-margin-right, $figure-margin-for-screens);

    img {
        margin-top: 0;
        margin-bottom: 0;
    }

    figcaption {
        margin-bottom: 0;
    }
}

canvas {
    display: inline-block;
    vertical-align: baseline;
}

svg:not(:root) {
    overflow: hidden;
}
