img {
    display: $img-display;
    width: $img-width;
    height: $img-height;
    max-width: $img-max-width;
    @include margin-shorthand-with-screens-support((
        top: $img-margin-top,
        bottom: $img-margin-bottom,
        left: $img-margin-left,
        right: $img-margin-right
    ), $img-margin-for-screens);
    @include border-shorthand(map-merge((
        border: (
            width: $img-border-width,
            style: $img-border-style,
            color: $img-border-color,
            make-shorthand: true
        )
    ), $img-borders));
    @include padding-shorthand((
        top: $img-padding-top,
        bottom: $img-padding-bottom,
        left: $img-padding-left,
        right: $img-padding-right
    ));
    vertical-align: $img-vertical-align;
    -ms-interpolation-mode: $img-ms-interpolation-mode;
    @if mixin-exists(img-extra-style) {
        @include img-extra-style();
    }
}