//Img
$img-display: inline-block !default;
$img-width: auto !default;
$img-height: auto !default;
$img-max-width: 100% !default;

//Margins
$img-margin-top: $elements-margin-top !default;
$img-margin-bottom: $elements-margin-bottom !default;
$img-margin-left: $elements-margin-left !default;
$img-margin-right: $elements-margin-right !default;
$img-margin-for-screens: $elements-margin-for-screens !default;

//Borders
$img-border-width: 0 !default;
$img-border-style: null !default;
$img-border-color: null !default;
$img-borders: () !default;

//Paddings
$img-padding-top: 0 !default;
$img-padding-bottom: 0 !default;
$img-padding-left: 0 !default;
$img-padding-right: 0 !default;

//Align
$img-vertical-align: middle !default;
$img-ms-interpolation-mode: bicubic !default;

//Extra style
//@mixin img-extra-style() {} //Create this mixin before import module when you want add some special style for element

//Figure
$figure-display: block !default;
$figure-margin-top: $elements-margin-top !default;
$figure-margin-bottom: $elements-margin-bottom !default;
$figure-margin-left: $elements-margin-left !default;
$figure-margin-right: $elements-margin-right !default;
$figure-margin-for-screens: $elements-margin-for-screens !default;
//@mixin figure-extra-style() {} //Create this mixin before import module when you want add some special style for element

//Figure caption
$figure-caption-display: block !default;
$figure-caption-margin-top: $elements-margin-top !default;
$figure-caption-margin-bottom: $elements-margin-bottom !default;
$figure-caption-margin-left: $elements-margin-left !default;
$figure-caption-margin-right: $elements-margin-right !default;
$figure-caption-margin-for-screens: $elements-margin-for-screens !default;
//@mixin figure-caption-extra-style() {} //Create this mixin before import module when you want add some special style for element

//Figure Img
$figure-img-margin-top: 0 !default;
$figure-img-margin-bottom: 0 !default;
$figure-img-margin-left: null !default;
$figure-img-margin-right: null !default;
//@mixin figure-img-extra-style() {} //Create this mixin before import module when you want add some special style for element

//Figure Figure caption
$figure-figure-caption-margin-top: null !default;
$figure-figure-caption-margin-bottom: 0 !default;
$figure-figure-caption-margin-left: null !default;
$figure-figure-caption-margin-right: null !default;
//@mixin figure-figure-caption-extra-style() {} //Create this mixin before import module when you want add some special style for element

//Canvas
$canvas-display: inline-block !default;
$canvas-vertical-align: baseline !default;